@media screen and (max-width: 1023px) {
    .mygit {
        max-width: 470px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .custom-padding {
      padding-left: 4rem !important; /* 16 in Tailwind (4 x 4px) */
      padding-right: 4rem !important;
    }
  }
  